<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="TimeData" connectionString="Data Source=fps\SQLExpress;Initial Catalog=&quot;DSC&quot;;Persist Security Info=True;User ID=sa;Password=letmein;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>